<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>bluepayment</name>
    <displayName><![CDATA[Blue Media payments]]></displayName>
    <version><![CDATA[2.8.2]]></version>
    <description><![CDATA[Plugin supports online payments implemented by payment gateway Blue Media company.]]></description>
    <author><![CDATA[Blue Media S.A.]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to delete the module?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>
